@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-display {
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: #131a1a;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}