@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, .font-display {
  font-family: 'Bebas Neue', cursive;
}

body {
  background-color: #131a1a;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}

.grid::-webkit-scrollbar {
  width: 4px;
}
.grid::-webkit-scrollbar-track {
  background: transparent;
}
.grid::-webkit-scrollbar-thumb {
  background: rgba(200,230,76,0.3);
  border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 4px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: rgba(200,230,76,0.3);
  border-radius: 4px;
}